@require 'base-config'

.{pre}scrape-website
	padding_(spaceTopLg null spaceBottomLg)

	&__results
		padding-top spaceTopLg

	&__result-data
	&__history
		padding-top spaceTopPrimary

	&__result
		padding-top 64px

	&__result-data-item
		padding-top spaceTopPrimary

		&:first-child
			padding-top 0
