@require 'base-config'

.{cPre}list-tags

	&__item-list
		clear-fix_()

	&__item
		float left
		margin_(null spaceRightSm spaceBottomSm null)
		background-color #eaeaec
		padding_(spaceTopSm spaceRightSm spaceBottomSm spaceLeftSm)
		color cFontPrimary
		font-family ffPrimary
		font-size fzSm
		font-weight fwPrimary
