@require 'base-config'

:host{cPre}message
	display block
	padding-top spaceTopPrimary

	&:first-child
		padding-top 0

.{cPre}message
	border-radius bdrsPrimary
	padding_(spaceTopPrimary spaceRightPrimary spaceBottomPrimary spaceLeftPrimary)

	&__text
		font-family ffPrimary
		font-size fzPrimary
		font-weight fwPrimary

	&--info
		background-color cInfo

		.{cPre}message
			&__text
				color cFontPrimary

	&--danger
		background-color cDanger

		.{cPre}message
			&__text
				color cInverted
